.nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s ease-in;
  z-index: 1;
}
.nav__black {
  background-color: #111;
}
.nav_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.nav .leftLogo {
  width: 100px;
  position: fixed;
  left: 0;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}
.nav .avatar {
  width: 30px;
  position: fixed;
  right: 20px;
  object-fit: contain;
  cursor: pointer;
}
